

.gender {
	float: right;
}

nav {
	margin-top: 5px
}

footer {
	margin-top: 45px;
	bottom: 0;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
}

.alpha {
	text-align: center;
	margin-bottom: 20px;
}

.alpha ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
}

.alpha ul li {
	margin-left: 0;
	padding: 3px 5px;
	list-style: none;
	display: inline;
}

.alpha a:link {
	text-decoration: none;
	color: #000000;
}

.alpha a:visited {
	text-decoration: none;
	color: #000000;
}

.alpha a:hover {
	text-decoration: underline;
	color: #000000;
}

.alpha a:active {
	text-decoration: none;
	color: #000000;
}

.pillmenu {
	width: 100%;
	margin-top: 0px;
}

a {
	color: #425158;
}

.hgroup a, .hgroup p {
	color: #FFFFFF;
}

/* ------- */
/* Header */
/* ------ */

header {
	background-image: url('../img/fond04.jpg');
	height: 150px;
	color: #827c7e;
}

.navbar-default {
	margin-top: 0px;
}

/* ----- */
/* Arbre */
/* ----- */

.TreeCase {
	border: 1px solid #ddd;
	width: 10%;
	height: 60px;
}

#Tree {
	border-collapse: collapse;
	text-align: center;
	font-size: 12px;
	width: 100%;
}

#Tree td {
	height: 30px;
}

/* ------------------ */
/* Contenu de la page */
/* ------------------ */

aside .badge {
	background-color: #827c7e;
}

aside .card-header {
	background-image: url('../img/left.jpg');
	background-repeat: no-repeat;
}

article h3 {
	margin-bottom: 30px;
}

article h4 {
	margin-top: 30px;
	margin-bottom: 15px;
}

article a {
	color: #958274;
}

/* ------------------- */
/* Ajout du 05/03/2018 */
/* ------------------- */

.page-link {
	color: #B89F89;
}

.page-link:hover {
	background-color:#B89F89;
	border-color:#B89f89;
}

/* ------------ */
/* Commentaires */
/* ------------ */

#commentaires {
	margin-bottom: 35px;
	margin-top: 35px;
}

#commentaires .card {
	margin-top: 15px;		
}

/* ------------ */
/* Statistiques */
/* ------------ */

.stats {
	border: 0px solid red;
	width: 45%;
}

.right {
	float:right;
}

.left {
	float:left;
}

/* ------------------------ */
/* carte pour OpenStreetMap */
/* ------------------------ */

#mapid {
	width: 100%;
	height: 600px;
}